.DS_Store
.idea/
.vscode/*
node_modules/
dist/
build/
output/
test/result
.#*
.react-playground/*
config/only_dev.js
config/only_dev*
.*.swp
.*.swo
.*.orig
*.less.d.ts
coverage
yarn-error.log
launch.json
dump.rdb
test.js
mock.js
.root
*\#
*~
